@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #b6f8b6;
}

footer {
  margin-top: 30px;
  text-align: center;
}

li {
  margin: 50px;
  list-style-type: none;
  color: black;
  border-color: black;
  transition: 1s;
}

li:hover {
  background-color: #91ee91;
}

.filter {
  display: flex;
  background-color: #333;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.btn {
  padding: 15px 30px;
  border-style: none;
  border-radius: 10%;
  background-color: #333;
  text-align: center;
  color: white;
  transition: 1s;
}

.btn:hover {
  padding: 20px 35px;
  background-color: #38a138;
  color: black;
}
.btn:active {
  background-color: #257c25;
  color: black;
}

.filter:hover {
  padding-top: 10px;
}

.pagination {
  display: inline;
  justify-content: center;
  list-style: none;
  margin-top: 20px;
  padding: 0;
  bottom: 0;
}

.pagination a {
  background-color: #000000;
  cursor: default;
  padding: 10px;
  color: #ffffff;
  border-radius: 20%;
  float: left;
}

.pagination li:not(.disabled) a:hover {
  background-color: rgb(92, 92, 92);
  cursor: pointer;
}

.pagination li a {
  font-weight: bold;
}

.pagination li.active a {
  color: #fff;
  background: #32992f;
}
